body{
    display:flex;
    align-items: center;
}

.form {
    align-self: center;
    
    grid-template-columns: 1fr 2fr;
    gap: 1.25vmin;
    color: var(--text-light);
    min-height: 8rem;

    label{
     font-size: 2.5vmin;
     font-weight: bold;
     display: flex;
     align-items: center;    
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    input {gap: 40%;
        padding: 1vmin;
        font-size: 2vmin;
        border: .1vmin solid var(--text-black);
    }
    .button {
        margin: 1vmin;
        padding: 1vmin;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 192, 203, 0.685);
        border-radius: .5vmin;
        min-height: 4rem;
        min-width: 20%;
        width: 40%;
        margin-left: 33.0%;
    }
}
.button:hover {
    color: whitesmoke;
    background-color: rgba(255, 192, 203, 0.712); 
    cursor: pointer;
    animation: glow 2s infinite;
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgba(255, 192, 203, 0.712);
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(255, 192, 203, 0.712);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 30px rgba(255, 123, 0, 0.856));
    }
    100% {
        filter: drop-shadow(0 0 30px rgba(255, 123, 0, 0.856));
    }
}