:root{
    --offLgreen: #54f046;
    --text-Dgreen: #018501;
    --hov-green: rgb(0, 255, 0);
    --text-dark: #000000;
    --text-black: #000000;
}


body {
    margin: 0;
    padding: 1vw;
    height: 100vh;
    background-color: var(--offLgreen);
    color: var(--text-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
